/* Poppins Normal */


.fonte-15 { font-size: 15px; }
.fonte-20 { font-size: 20px; }
.fonte-25 { font-size: 25px; }
.fonte-30 { font-size: 30px; }
.fonte-35 { font-size: 35px; }
.fonte-40 { font-size: 40px; }
.fonte-45 { font-size: 45px; }
.fonte-50 { font-size: 50px; }
.fonte-55 { font-size: 55px; }
.fonte-60 { font-size: 60px; }



.thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

/* Poppins Italic */
.thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}