@media (max-width:900px) {

    .login{
        width: 60%;
        margin-left: 20%;
        height: 80%;
        top: calc(10% + 100px);
        border-radius: 20px;
    }

    form{
        width: 90%;
    }
}

@media (max-width:700px) {

    .logo{
        flex-direction: column;
        gap: 0;

    }

    .logo h1{
        font-size: 35px;
    }
    .logo div{
        display: none;
    }

    .logo img{
        width: 150%;
        height: 105%;
        object-fit:cover;
    }
     
    .login {
        margin: 0 auto;
        width: 90%;
    }
 

    

    .login p {
        font-size: 18px;
    }
    
}

@media (max-width:700px) {
    .question{
        width: 80%;
    }

    form button{
        width: 80%;
    }

    .texto{
        width: 80% ;

        
    }

 
}