* {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;

}


body {
    background-color: #303B7C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;
}

section {
    text-align: center;
    width: 600px;
    height: 50%;

    background-color: #FFF;
    color: #000;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;



}

.formulario {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin:  10px;
    text-align: left;
}

button{
    font-size: 25px;
    background-color: #42B72A;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}