* {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;

}




body {
    background-color: #303B7C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    flex-direction: column;
}

section {
    text-align: center;
    width: 700px;
    min-height: 50%;

    background-color: #FFF;
    color: #000;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    padding: 20px;



}

.formulario {
    margin-top: 30px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:center ;
    align-items: center;
    margin:  10px;
    text-align: center;
}

button{
    font-size: 25px;
    background-color: #42B72A;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 20px 0;
}

.info > div{
    width: 33%;
    text-align: center;
}

